/*
free icons
https://icons.getbootstrap.com/

free images
https://unsplash.com/s/photos/digital

neo brutalism style guide
https://medium.com/@sepidy/how-can-i-design-in-the-neo-brutalism-style-d85c458042de

style references
https://dribbble.com/tags/neo-brutalism
*/

/*
COLOR PALETTE - NEO BRUTALISM STYLE
BLUE    #87CEEB
GREEN   #90EE90
YELLOW  #F4D738
ORANGE  #FF7A5C
PINK    #FFB2EF
PURPLE  #A388EE
WHITE
BLACK
*/

/*clean canvas, * affects whole file*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*setting defaults*/
body {
    background-color: black;
    font-size: 1.6em;
    /*    cursor: url('images/plug-fill.svg'), auto;
*/
    display: flex;

    /*font stack*/
    font-family: 'Public Sans', Arial, sans-serif;
    line-height: 1.3;


    justify-content: flex-start; /* align everything to the left */
    align-items: flex-start; /* align everything to the top */
}

/*gradient background with curved edges*/
.pageWrapper {
    background: linear-gradient(to top right, #FFB2EF, #FF7A5C, #F4D738, #A388EE);
    border-radius: 1.5em;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* black edges on sides */
    margin-left: 1em;
    margin-right: 1em;
    border-left: 0.2em solid black;
    border-right: 0.2em solid black;

    /* black edges on top/bot */
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    border-top: 0.2em solid black;
    border-bottom: 0.2em solid black;
}

/*container for top of page*/
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /*text color*/
    color: black;

    padding-top: 6.5em; /* pushes everything down from top edge */
    padding-bottom: 3em; /* extra space at the bottom */
}

/*nav bar div*/
.fullWidthDiv {
    /*    width: 100%;*/
    background-color: white;
    /*    padding: 0em;*/
    height: 3em;
    border-bottom: 0.3em solid black;

    display: flex;
}


.topPage {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* left alignment */
    position: relative;
    margin-left: 3em;
    color: black;
    margin-bottom: 4em;
}


.title {
    padding-top: 0.0em;
    font-size: 2em;
    color: black;
    padding-top: 0.0em;
}


.subtitle {
    font-size: 0.4em;
    color: black;
    margin-top: 0.3em;
    padding-left: 0; /* remove extra padding */
    align-self: flex-start; /* lock left alignment */

    max-width: 700px; /*cuts text off on the right*/
    text-align: justify; /* makes text end at same point (stretches out spaces tho) */
    hyphens: auto; /* breaks long words with a dash */
    padding-right: 2em; /* small padding to visually “cut off” evenly */
}


.title h1 {
    display: flex;
    align-items: center; /* keep icon aligned with text */
    gap: 0em; /* gap beteeen icon*/
}

h2 {

    /*ORIGINAL*/
    padding: 0.5em 0 .4em 0em;
    color: black;


    /*    /\*white "button" effect - better without??*\/
    padding: 0.1em 0.3em; /\* space inside the button *\/
    display: inline-block; /\* makes it behave like a button *\/
    background-color: white; /\* filled color*\/
    border-radius: 0.3em; /\* rounded corners, same as site divs *\/
    box-shadow: 0.25em 0.3em 0px black; /\* black shadow *\/
    margin-bottom: 0.5em;*/

}


h3 {
    font-weight: bold;
    color: black;
    /*top right bot left*/
    padding: 0.8em 0 .3em 0em;

}

h4 {
    background: linear-gradient(to top right, #FF7A5C, #FFB2EF, #A388EE);
    
    color: black;
    display: inline-block; /* makes it behave like a button */
    padding: 0.25em 0.5em; /* space inside the button */
    border-radius: 0.3em; /* rounded corners, same as site divs */
    box-shadow: 0.25em 0.3em 0px black; /* black shadow */
    transition: transform 0.1s, box-shadow 0.1s;
    text-decoration: none;
    margin-top: 0.3em;
    margin-left: 1.5em;

        transition: transform 0.1s, box-shadow 0.1s;
}

h4:hover {
    /*scale and move up*/
    transform: scale(1.004) translateX(-0.4em);
    box-shadow: 0.35em 0.4em 0px black; /* stronger shadow */
    
    background: linear-gradient(to top right, #A388EE, #FFB2EF, #FF7A5C);
}


img.icon {
    width: 2em;
    height: 2em;
    /*top right bot left*/
    margin: 0.5em 0.5em 0em 1em;
}


img.rightIcon {
    width: 1.2em; /* scales with text */
    height: 1.2em;
    vertical-align: middle; /* aligns with text */
    margin-left: 0.4em; /* space between icon and text */
}

img.leftIcon {
    width: 1.2em; /* scales with text */
    height: 1.2em;
    vertical-align: middle; /* aligns with text */
    margin-right: 0.4em; /* space between icon and text */
}


p {
    color: black;
    /*top right bot left*/
    padding: 0em 3.2em 0em 3.2em;
    font-family: 'Roboto Mono', monospace;
}

.essayP {
    /* top/right/bottom/left */
    margin: 1.3em 0 1.3em 2.5em; /* spacing between paragraphs */
    text-align: justify; /* evens out right edge */
    text-indent: 2em; /* indent first line */
    max-width: 42em; /* limits width */

}

/*full size images*/
img {
    max-width: 100%;
}


/*indent lists*/
ol,
ul {
    padding-left: 2em
}

/*put divs side by side*/
.horDivContainer {
    display: flex; /* puts children side by side */
    justify-content: center; /* center horizontally */
    gap: 2em; /* space between the divs */
    flex-wrap: wrap; /* wrap to new line on small screens */
}

.sectionDivBlue {
    background-color: #87CEEB;
    width: 60%;
    /*top right bot left*/
    padding: 1em 0em 1em 2em;
    /*    border: double 7px white;*/
    border-radius: 0.5em;

    /* center the div horizontally */
    margin: 1em auto; /* top/bottom 1em, left/right auto centers it */

    /* box shadow */
    /*   box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;*/
    box-shadow: 0.6em 0.8em black;

    transition: transform 0.2s, box-shadow 0.2s; /* smooth animation */
}

.sectionDivBlue:hover {
    transform: translateY(-3px); /* lifts the button slightly up*/
    transform: translateY(-2px); /* lifts the button slightly left*/
    box-shadow: 0.8em 1em black; /* stronger shadow */

}

.sectionDivBlue p {
    color: black;

    /*highlight effect*/
    /*    background-color: #ffeecc;
    display: inline; */
    /*top right bot left*/

    padding: 0em 0.2em 0em 0.2em;
    border-radius: 0.3em;

}


.sectionDivPurple {
    background-color: #A388EE;
    width: 90%;
    /*top right bot left*/
    padding: 1em 0em 1em 2em;
    /*    border: double 7px white;*/
    border-radius: 0.5em;

    /* center the div horizontally */
    margin: 1em auto; /* top/bottom 1em, left/right auto centers it */

    /* box shadow */
    /*   box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;*/
    box-shadow: 0.6em 0.8em black;

    transition: transform 0.2s, box-shadow 0.2s; /* smooth animation */
}

.sectionDivPurple:hover {
    transform: translateY(-3px); /* lifts the button slightly up*/
    transform: translateY(-2px); /* lifts the button slightly left*/
    box-shadow: 0.8em 1em black; /* stronger shadow */

}

.sectionDivPurple p {
    color: black;

    /*highlight effect*/
    /*    background-color: #ffeecc;
    display: inline; */
    /*top right bot left*/

    padding: 0em 0.2em 0em 0.2em;
    border-radius: 0.3em;

}


/*make links like buttons*/
.sectionDivPurple a {
    color: black;
    display: inline-block; /* makes it behave like a button */
    background-color: white; /* filled color*/
    padding: 0.25em 0.5em; /* space inside the button */
    border-radius: 0.3em; /* rounded corners, same as site divs */
    box-shadow: 0.25em 0.3em 0px black; /* black shadow */
    transition: transform 0.1s, box-shadow 0.1s;
    text-decoration: none;
    margin-top: 0.6em;
    margin-bottom: 0.3em;
}

.sectionDivPurple a:hover {
    /*scale and move up*/
    transform: scale(1.004) translateY(-0.25em);
    box-shadow: 0.35em 0.4em 0px black; /* stronger shadow */
        background: linear-gradient(to top right, #F4D738, #FFB2EF, #87CEEB);
}



.sectionDivYellow {
    background-color: #F4D738;
    width: 90%;
    /*top right bot left*/
    padding: 1em 0em 1em 2em;
    /*    border: double 7px white;*/
    border-radius: 0.5em;

    /* center the div horizontally */
    margin: 1em auto; /* top/bottom 1em, left/right auto centers it */

    /* box shadow */
    /*   box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;*/
    box-shadow: 0.6em 0.8em black;

    transition: transform 0.2s, box-shadow 0.2s; /* smooth animation */
}

.sectionDivYellow:hover {
    transform: translateY(-3px); /* lifts the button slightly up*/
    transform: translateY(-2px); /* lifts the button slightly left*/
    box-shadow: 0.8em 1em black; /* stronger shadow */

}

.sectionDivYellow p {
    color: black;

    /*highlight effect*/
    /*    background-color: #ffeecc;
    display: inline; */
    /*top right bot left*/

    padding: 0em 0.2em 0em 0.2em;
    border-radius: 0.3em;

}


.sectionDivGreenHalf {
    background-color: #90EE90;
    width: 45%;
    /*top right bot left*/
    padding: 1em 0em 1em 2em;

    /*    border: double 7px white;*/
    border-radius: 0.5em;

    margin: 1em 0; /* only vertical margin */

    /* box shadow */
    /*   box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;*/
    /*spread to make it larger*/
    box-shadow: 0.6em 0.8em black;
    transition: transform 0.2s, box-shadow 0.2s; /* smooth animation */
}

.sectionDivGreenHalf:hover {

    /*scale and move up*/
    transform: scale(1.004) translateY(-0.25em);
    box-shadow: 0.8em 1em black; /* stronger shadow */

}

.sectionDivGreenHalf p {
    color: black;

    /*highlight effect*/
    /*    background-color: #ffeecc;
    display: inline; */
    /*top right bot left*/

    padding: 0em 0.2em 0em 0.2em;
    border-radius: 0.3em;

}


.sectionDivPinkHalf {
    background-color: #FFB2EF;
    width: 45%;
    /*top right bot left*/
    padding: 1em 0em 1em 2em;

    /*    border: double 7px white;*/
    border-radius: 0.5em;

    margin: 1em 0; /* only vertical margin */

    /* box shadow */
    /*   box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;*/
    /*spread to make it larger*/
    box-shadow: 0.6em 0.8em black;
    transition: transform 0.2s, box-shadow 0.2s; /* smooth animation */
}

.sectionDivPinkHalf:hover {

    /*scale and move up*/
    transform: scale(1.004) translateY(-0.25em);
    box-shadow: 0.8em 1em black; /* stronger shadow */

}

.sectionDivPinkHalf p {
    color: black;

    /*highlight effect*/
    /*    background-color: #ffeecc;
    display: inline; */
    /*top right bot left*/

    padding: 0em 0.2em 0em 0.2em;
    border-radius: 0.3em;

}
